<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About page is here now....</title>
    </head>
    <body>
        {{> header}}
        <p>Home data is checking now....</p>

        {{>footer}}
    </body>
</html>