<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        
            <p>Project data is checking now....</p>

        {{>footer}}
    </body>
</html>